:host {

	display: flex;
	align-items: center;

  nav {
    // background: #fff9c4;
    border-radius: 1rem;
    // padding: 2rem;
  }
  .links a {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    transition: all ease-in-out 0.2s;
    @media screen and (max-width: 768px){
      font-size: 0.8rem;
    }
    &:before {
      content: '';
      // width: 0;
      // transition: all ease-in-out 0.2s;
      transform: translate3d(0,5px,0);
    }
    &:hover, &.active {
      &.active {
        color: var(--bg4);
      }
      color: var(--bg3);
      &::before {
        content: '';
        width: 80%;
	      left: 10%;
        bottom: -5px;
        background-color: var(--bg2);
        height: 2px;
        position: absolute;
        transform: translate3d(0,5px,0);
        transition: all .2s cubic-bezier(.175,.885,.32,1.275);
        transform: translateZ(0) scale3d(1.1,1.1,1.1) rotate(
          2deg
          );
      }
      &:nth-child(odd){
        &::before {
          transform: translateZ(0) scale3d(1.1,1.1,1.1) rotate(
            -2deg
            );
          }
      }
    }
  }
  .myProfile span {
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    transition: all ease-in-out 0.2s;
    &:before {
      content: '';
      // width: 0;
      // transition: all ease-in-out 0.2s;
      transform: translate3d(0,5px,0);
    }
    &:hover {
      color: var(--bg3);
      &::before {
        content: '';
        width: 80%;
	      left: 10%;
        bottom: -5px;
        background-color: var(--bg2);
        height: 2px;
        position: absolute;
        transform: translate3d(0,5px,0);
        transition: all .2s cubic-bezier(.175,.885,.32,1.275);
        transform: translateZ(0) scale3d(1.1,1.1,1.1) rotate(
          2deg
          );
      }
      &:nth-child(odd){
        &::before {
          transform: translateZ(0) scale3d(1.1,1.1,1.1) rotate(
            -2deg
            );
          }
      }
    }
  }
}

.myProfile {
  img {
    border-radius: 50%;
  }
}
