<form [formGroup]="form" class="w-full lg:w-10/12 m-auto grid grid-cols-2 gap-3" autocomplete="off">
<ng-container *ngFor="let formControl of FormFields">

<mat-form-field appearance="" class="col-span-{{formControl.controlWidth ? formControl.controlWidth : 2}}" *ngIf="formControl.type == 'text' || formControl.type == 'email' || formControl.type == 'password'">
  <mat-label>{{formControl.label}}</mat-label>
  <input formControlName="{{formControl.name}}" type="{{formControl.type}}" placeholder="{{formControl.placeholder}}" [required]="formControl.validation?.required" matInput >
  <mat-error>
    <app-validation-error [control]="form.get(formControl.name)" businessName="{{formControl.label}}">
    </app-validation-error>
  </mat-error>
</mat-form-field>

<mat-form-field appearance="" class="col-span-{{formControl.controlWidth ? formControl.controlWidth : 2}}" *ngIf="formControl.type == 'select'">
  <mat-label>{{formControl.label}}</mat-label>
  <mat-select [required]="formControl.validation?.required" formControlName="{{formControl.name}}">
    <mat-option *ngFor="let option of formControl.options" [value]="option.value">{{option.name}}</mat-option>
  </mat-select>
  <mat-error>
    <app-validation-error [control]="form.get(formControl.name)" businessName="{{formControl.label}}">
    </app-validation-error>
  </mat-error>
</mat-form-field>

<mat-form-field appearance="" class="col-span-{{formControl.controlWidth ? formControl.controlWidth : 2}}" *ngIf="formControl.type == 'textArea'">
  <mat-label>{{formControl.label}}</mat-label>
  <textarea matInput placeholder="{{formControl.placeholder}}" formControlName="{{formControl.name}}" rows="5" cdkAutosizeMinRows="3"></textarea>
  <mat-hint class="">
    Number of characters :{{form.get(formControl.name).value?.length || 0}}
  </mat-hint>
  <mat-error>
    <app-validation-error [control]="form.get(formControl.name)" businessName="{{formControl.label}}">
    </app-validation-error>
  </mat-error>
</mat-form-field>

<mat-radio-group class="mt-3 col-span-{{formControl.controlWidth ? formControl.controlWidth : 2}}" *ngIf="formControl.type == 'radio'" formControlName="{{formControl.name}}">
  <mat-label>{{formControl.label}}</mat-label>
  <div class="pt-5">
      <mat-radio-button *ngFor="let option of formControl.options"  [value]="option.value" class="mr-2">
        {{option.name}}
      </mat-radio-button>
      <mat-error>
        <app-validation-error [control]="form.get(formControl.name)" businessName="{{formControl.label}}">
        </app-validation-error>
      </mat-error>
  </div>
</mat-radio-group>

<div class="mt-3 col-span-{{formControl.controlWidth ? formControl.controlWidth : 2}}" *ngIf="formControl.type == 'check'">
    <mat-checkbox class="mr-2" formControlName="{{formControl.name}}">
      {{formControl.label}}
    </mat-checkbox>
    <mat-error>
      <app-validation-error [control]="form.get(formControl.name)" businessName="{{formControl.label}}">
      </app-validation-error>
    </mat-error>
</div>

  <button mat-button mat-flat-button class="rounded-none bg-gray-200 col-span-{{formControl.controlWidth ? formControl.controlWidth : 2}}" *ngIf="formControl.type == 'button'">{{formControl.label}}</button>

</ng-container>

  <div class="flex justify-end col-span-2">
    <button mat-button mat-flat-button class="rounded-none bg-gray-200" (click)="formReset()">Cancel</button>
    <button mat-button mat-flat-button color="primary" [disabled]="form.invalid" class=" ml-3" (click)="formSubmit()"> Submit </button>
  </div>

</form>


<div class="w-full lg:w-10/12 m-auto bg-black text-white p-1 mt-3">
  <h2 class="text-yellow-200">Form Data Result</h2>
  {{form.value | json}}
</div>
