<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>JSON</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
	      <link rel="stylesheet" href="./styles/style.css">
        <link rel="stylesheet" href="./styles/material.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="./" class="navbar-brand">JSON</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content package-dependencies">
                   <div class="content-data">














    <ol class="breadcrumb">
        <li>Dependencies</li>
    </ol>
    <ul class="dependencies-list">
        <li>
            <b>@angular/animations</b> : ~11.0.1</li>
        <li>
            <b>@angular/cdk</b> : ^11.0.0</li>
        <li>
            <b>@angular/common</b> : ~11.0.1</li>
        <li>
            <b>@angular/compiler</b> : ~11.0.1</li>
        <li>
            <b>@angular/core</b> : ~11.0.1</li>
        <li>
            <b>@angular/forms</b> : ~11.0.1</li>
        <li>
            <b>@angular/material</b> : ^11.0.0</li>
        <li>
            <b>@angular/material-moment-adapter</b> : ^11.0.3</li>
        <li>
            <b>@angular/platform-browser</b> : ~11.0.1</li>
        <li>
            <b>@angular/platform-browser-dynamic</b> : ~11.0.1</li>
        <li>
            <b>@angular/router</b> : ~11.0.1</li>
        <li>
            <b>@angular/service-worker</b> : ^11.1.1</li>
        <li>
            <b>@ngneat/transloco</b> : ^2.20.0</li>
        <li>
            <b>@ngx-formly/core</b> : ^5.10.14</li>
        <li>
            <b>@ngx-formly/material</b> : ^5.10.14</li>
        <li>
            <b>@ngxs-labs/dispatch-decorator</b> : ^2.1.0</li>
        <li>
            <b>@ngxs-labs/select-snapshot</b> : ^2.0.1</li>
        <li>
            <b>@ngxs/router-plugin</b> : ^3.7.1</li>
        <li>
            <b>@ngxs/storage-plugin</b> : ^3.7.1</li>
        <li>
            <b>@ngxs/store</b> : ^3.7.1</li>
        <li>
            <b>@types/file-saver</b> : ^2.0.1</li>
        <li>
            <b>angular-split</b> : ^5.0.0</li>
        <li>
            <b>angular-svg-icon</b> : ^11.0.0</li>
        <li>
            <b>body-parser</b> : ^1.19.0</li>
        <li>
            <b>cors</b> : ^2.8.5</li>
        <li>
            <b>ng-click-outside</b> : ^7.0.1</li>
        <li>
            <b>ng-inline-svg</b> : ^11.0.1</li>
        <li>
            <b>ng2-ace-editor</b> : ^0.3.9</li>
        <li>
            <b>ngx-awesome-uploader</b> : ^10.0.2</li>
        <li>
            <b>ngx-bar-rating</b> : ^2.0.0</li>
        <li>
            <b>ngx-build-plus</b> : ^10.1.1</li>
        <li>
            <b>ngx-json-viewer</b> : ^3.0.2</li>
        <li>
            <b>ngx-material-file-input</b> : ^2.1.1</li>
        <li>
            <b>ngx-webstorage-service</b> : ^4.1.0</li>
        <li>
            <b>ngxs-reset-plugin</b> : ^1.3.1</li>
        <li>
            <b>normalize.css</b> : ^8.0.1</li>
        <li>
            <b>primeicons</b> : ^4.1.0</li>
        <li>
            <b>primeng</b> : ^11.2.0</li>
        <li>
            <b>rxjs</b> : ~6.6.0</li>
        <li>
            <b>tslib</b> : ^2.0.0</li>
        <li>
            <b>zone.js</b> : ~0.10.2</li>
    </ul>

                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 0;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'package-dependencies';
            var COMPODOC_CURRENT_PAGE_URL = 'dependencies.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="./js/libs/custom-elements.min.js"></script>
       <script src="./js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="./js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="./js/menu-wc.js" defer></script>

       <script src="./js/libs/bootstrap-native.js"></script>

       <script src="./js/libs/es6-shim.min.js"></script>
       <script src="./js/libs/EventDispatcher.js"></script>
       <script src="./js/libs/promise.min.js"></script>
       <script src="./js/libs/zepto.min.js"></script>

       <script src="./js/compodoc.js"></script>

       <script src="./js/tabs.js"></script>
       <script src="./js/menu.js"></script>
       <script src="./js/libs/clipboard.min.js"></script>
       <script src="./js/libs/prism.js"></script>
       <script src="./js/sourceCode.js"></script>
          <script src="./js/search/search.js"></script>
          <script src="./js/search/lunr.min.js"></script>
          <script src="./js/search/search-lunr.js"></script>
          <script src="./js/search/search_index.js"></script>
       <script src="./js/lazy-load-graphs.js"></script>


    </body>
</html>
